
*{
    font-family: 'DejaVu', sans-serif;

}

h1,h2,h3,h4,h5{
    font-family: 'DejaVu', sans-serif;
    color: black;
    font-size: 16px !important;
    font-weight: 700;
}
.tables p,.wrapper p{
    font-size: 14px;
    padding: 1rem;
}
.secondary_text{
    color:silver
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .mySlider{
      transform: translateY(-50px);
      padding:0rem 1rem;
  }
  .rc-slider-track{
    background-color: #e66465 !important;
}

  